<article class="mt-oli" ng-repeat="item in order.LineItems">
    <div class="mt-oli-product">
        <div class="mt-oli-thumb">
            <img class="mt-real-photo" ng-show="item.Product.LargeImageUrl" ng-src="{{item.Product.LargeImageUrl | orderImageUrl}}" alt="{{item.Product.Name}}" />
            <div class="mt-placeholder-photo" ng-hide="item.Product.LargeImageUrl">{{'[product photo]' | r | xlat}}</div>
        </div>
        <div class="mt-oli-info">
            <span class="mt-oli-name">{{item.Product.Name}}</span>
            <span class="mt-oli-sku">{{item.ProductIDText}}</span>
            <ul class="mt-oli-specs" ng-show="(item.Specs | onproperty:{Property: 'CanSetForLineItem', Value: true}).length > 0">
                <li ng-repeat="spec in item.Specs | onproperty:{Property: 'CanSetForLineItem', Value: true}">
                    <span class="mt-oli-spec-name">{{spec.Name}}</span>
                    <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName + Extension}}</a></span>
                    <span ng-if="spec.ControlType != 'File'">{{spec.Value || ('(unspecified)' | xlat)}}</span>
                </li>
            </ul>
            <div class="mt-oli-downloads" ng-if="item.ProductionURL || (order.Status != 'AwaitingApproval' && item.Product.Type == 'VariableText' && item.ProofUrl) || (order.Status == 'AwaitingApproval' && item.Variant.IsMpowerVariant)">
                <a class="mt-header-btn" ng-if="order.Status != 'AwaitingApproval' && (item.Product.Type == 'VariableText' && item.ProofUrl)" href="{{item.ProofUrl}}" target="_blank">
                    <i class="fa fa-download"></i> {{'Download Proof' | r | xlat}}
                </a>
                <a class="mt-header-btn" ng-if="order.Status == 'AwaitingApproval' && (item.Variant.IsMpowerVariant)" href="" ng-click="downloadProof(item)">
                    <i class="fa fa-download"></i> {{'Download Proof' | r | xlat}}
                </a>
                <a class="mt-header-btn" ng-if="item.ProductionURL" href="{{item.ProductionURL}}" target="_blank">
                    <i class="fa fa-download"></i> {{'Download Printable File' | r | xlat}}
                </a>
            </div>
        </div>
    </div>

    <dl class="mt-oli-stats">
        <div class="mt-oli-stat" ng-if="!(user.Permissions.contains('HidePricing'))">
            <dt>{{'Unit Price' | r | xlat}}</dt>
            <dd>{{item.UnitPrice | culturecurrency}}</dd>
        </div>
        <div class="mt-oli-stat">
            <dt>{{'Quantity' | r | xlat}}</dt>
            <dd>{{item.Quantity * (item.Product.QuantityMultiplier || 1)}}</dd>
        </div>
        <div class="mt-oli-stat" ng-if="item.TotalShipped">
            <dt>{{('Quantity' | r) + ' ' + ('Shipped' | r) | xlat}}</dt>
            <dd>{{item.TotalShipped}}</dd>
        </div>
        <div class="mt-oli-stat mt-oli-stat-total" ng-if="!(user.Permissions.contains('HidePricing'))">
            <dt>{{'Total' | r | xlat}}</dt>
            <dd>{{item.LineTotal | culturecurrency}}</dd>
        </div>
    </dl>

    <dl class="mt-oli-meta" ng-if="item.ShipperName || item.CostCenter || item.ShipAddress">
        <div ng-if="item.ShipperName">
            <dt>{{('Shipping' | r) + ' ' + ('Method' | r) | xlat}}</dt>
            <dd>{{item.ShipperName}}</dd>
        </div>
        <div ng-if="item.CostCenter">
            <dt>{{('Item' | r) + ' ' + ('Cost Center' | r) | xlat}}</dt>
            <dd>{{item.CostCenter}}</dd>
        </div>
        <div ng-if="item.ShipAddress">
            <dt>{{'Ship to' | r | xlat}}</dt>
            <dd>
                {{item.ShipAddress.Street1}}<span ng-if="item.ShipAddress.Street2">, {{item.ShipAddress.Street2}}</span><br />
                {{item.ShipAddress.City}}, {{item.ShipAddress.State}} {{item.ShipAddress.Zip}}
            </dd>
        </div>
    </dl>
</article>
