<section class="mt-line-item-detail">
    <div class="mt-container mt-line-item-detail-inner">
        <div class="mt-line-item-detail-layout">
            <div class="mt-line-item-detail-image-wrap">
                <figure>
                    <img id="451_img_prod_lg" class="mt-real-photo mt-pdp-image" ng-src="{{LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl}}" >
                </figure>
            </div>

            <div class="mt-line-item-detail-content">
                <h1 class="mt-pdp-title">{{('Product' | r) + ' ' + ('ID' | r) | xlat}} {{LineItem.ProductIDText}}</h1>
                <div class="mt-checkout-card">
                    <h2 class="mt-checkout-card-title">{{'Description' | r | xlat}}</h2>
                    <p ng-bind-html='LineItem.Product.Description'></p>
                    <span ng-if="!(user.Permissions.contains('HidePricing'))">
                       <priceScheduleTable ps='LineItem.PriceSchedule' p='LineItem.Product'></priceScheduleTable>
                    </span>
                </div>
                <staticspecstable specGroups="StaticSpecGroups"></staticspecstable>
            </div>
        </div>
    </div>
</section>
