<section class="mt-report-view">
    <div class="mt-container mt-report-view-inner">
        <form name="reportForm" ng-submit="saveReport()">
            <loadingindicator ng-show="displayLoadingIndicator"></loadingindicator>
            <h1 ng-if="!report.ID" class="mt-pdp-title">{{report.ID ? report.Name : (report.ReportTypeName | r | xlat)}}</h1>

            <tabset ng-show="report" class="mt-report-tabset">
                <tab>
                    <tab-heading>{{'Conditions' | r | xlat}}</tab-heading>
                    <div class="mt-checkout-card mt-report-conditions">
                        <lineitemreport ng-if="report.ReportType == 'LineItem'"></lineitemreport>
                        <orderreport ng-if="report.ReportType == 'Order'"></orderreport>
                        <inventoryreport ng-if="report.ReportType == 'Inventory'"></inventoryreport>
                        <pendingapprovalreport ng-if="report.ReportType == 'PendingApproval'"></pendingapprovalreport>
                        <accountStatusReport ng-if="report.ReportType == 'SpendingAccountStatus'"></accountStatusReport>
                        <accounttransactionreport ng-if="report.ReportType == 'SpendingAccountTransaction'"></accounttransactionreport>
                        <shipmentreport ng-if="report.ReportType == 'Shipment'"></shipmentreport>
                    </div>
                </tab>
                <tab disabled="!report.ID">
                    <tab-heading ng-click="downloadReport(report)">
                        {{('Report' | r) + ' ' + ('Data' | r) | xlat}}
                    </tab-heading>
                    <div class="mt-checkout-card mt-report-data">
                        <div class="mt-report-table-wrap">
                            <table class="mt-report-table">
                                <thead>
                                <tr>
                                    <th ng-repeat="(key, value) in report.DataColumns">{{report.DisplayColumns[value] | r | xlat}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in report.Data | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize">
                                    <td ng-repeat="header in report.DataColumns">
                                        <span ng-if="header.indexOf('Date') == -1">{{row[header]}}</span>
                                        <span ng-if="header.indexOf('Date') > -1">{{row[header] | date:user.Culture.DateFormat.long}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-report-data-footer">
                            <div class="mt-pagination" ng-show="settings.listCount > settings.pageSize">
                                <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                                            items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}"
                                            first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
                            </div>
                            <button ng-hide="errorMessage" type="button" class="mt-btn-accent" ng-click="getDownload()">{{'Download' | r | xlat}}</button>
                        </div>
                    </div>
                </tab>
            </tabset>
            <div class="view-response-message text-center" ng-show="actionMessage">
                <p>{{actionMessage | r | xlat}}</p>
            </div>
            <div class="view-error-message alert-danger text-center" ng-show="errorMessage">
                <p>{{errorMessage | r | xlat}}</p>
            </div>
        </form>
    </div>
</section>
