<section class="mt-cart">
    <div ng-show="currentOrder" class="hidden-print">
        <form ng-submit="saveChanges()" name="cart" novalidate="" class="mt-container mt-cart-inner">
            <div class="mt-cart-header">
                <h1 class="mt-pdp-title">{{'Your cart' | r | xlat}}</h1>
                <button type="button" class="mt-header-btn" ng-click="onPrint()">
                    <i class="fa fa-print"></i> {{'Print' | r | xlat}}
                </button>
            </div>

            <loadingindicator ng-show="displayLoadingIndicator" title="{{'Please wait while we save your order' | r | xlat}}"></loadingindicator>

            <cartmessage></cartmessage>

            <div class="mt-cart-layout">
                <div class="mt-cart-main">
                    <p class="mt-cart-count">{{totalItemQuantity}} {{'item' + (totalItemQuantity > 1 ? 's' : '') | rl | xlat}} {{'in your' | rl | xlat:(totalItemQuantity)}} {{'cart' | rl | xlat}}</p>

                    <div class="mt-cart-list">
                        <div class="mt-cart-item" ng-class="{'mt-cart-item-pending': item.IsKitParent && item.KitIsInvalid}" ng-repeat="item in currentOrder.LineItems">
                            <img class="mt-cart-item-photo mt-real-photo" ng-show="item.Variant.LargeImageUrl || item.Product.SmallImageUrl" ng-src="{{item.Variant.LargeImageUrl || item.Product.SmallImageUrl}}" />
                            <div class="mt-placeholder-photo mt-cart-item-photo" ng-hide="item.Variant.LargeImageUrl || item.Product.SmallImageUrl">
                                {{'[product photo]' | r | xlat}}
                            </div>

                            <div class="mt-cart-item-info">
                                <a class="mt-cart-item-link" ng-if="currentOrder.Status != 'AwaitingApproval' || isEditforApproval" ng-href="{{(item.Product.Type == 'Kit' ? 'kit' : 'cart') + '/' + (item.Product.InteropID) + '/' + (isEditforApproval ? (currentOrder.ID + '/') : '') + ($index)}}">
                                    <i ng-show="item.KitIsInvalid" class="fa fa-exclamation-triangle"></i>
                                    <span class="mt-cart-item-name">{{item.Product.Name}}</span>
                                    <span class="mt-pdp-sku">{{item.ProductIDText}}</span>
                                </a>
                                <div ng-if="currentOrder.Status == 'AwaitingApproval' && !isEditforApproval">
                                    <span class="mt-cart-item-name">{{item.Product.Name}}</span>
                                    <span class="mt-pdp-sku">{{item.ProductIDText}}</span>
                                </div>

                                <div class="mt-cart-item-fields" ng-if="(user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')) || user.Permissions.contains('CostCenterPerLine')">
                                    <div class="mt-field" ng-if="user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')">
                                        <label ng-class="{required: user.Permissions.contains('DateNeededRequired')}">{{'Date' | r | xlat}}</label>
                                        <div class="mt-field-row">
                                            <input name="dateneeded" placeholder="{{'Date' | xlat}}" ng-model="item.DateNeeded" ng-required="user.Permissions.contains('DateNeededRequired')"
                                                   type="text" datepicker-popup="{{user.Culture.DateFormat.short}}" is-open="item.dateOpened" min="currentDate" />
                                            <button type="button" title="{{'copy to all' | r | xlat}}" class="mt-header-btn" ng-click="copyAddressToAll()" ng-show="item.DateNeeded" ng-if="$index == 0 && currentOrder.LineItems.length > 1 && user.CostCenters.length != 1">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mt-field" ng-if="user.Permissions.contains('CostCenterPerLine')">
                                        <label class="required" ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')">{{'Cost Center' | r | xlat}}</label>
                                        <div class="mt-field-row">
                                            <select name="costcenter" required ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')"
                                                    ng-options="center.Name as center.Name for center in user.CostCenters" ng-model="item.CostCenter">
                                                <option value=""></option>
                                            </select>
                                            <input name="costcenter" ng-if="user.Permissions.contains('FreeFormCostCenter')" ng-model="item.CostCenter" type="text" required placeholder="{{'Cost Center' | r | xlat}}" />
                                            <span ng-if="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')">{{item.CostCenter}}</span>
                                            <button type="button" title="{{'copy to all' | r | xlat}}" class="mt-header-btn" ng-click="copyCostCenterToAll()" ng-show="item.CostCenter" ng-hide="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')" ng-if="$index == 0 && currentOrder.LineItems.length > 1">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-cart-item-specs-toggle" ng-if="item.Variant.IsMpowerVariant">
                                    <button type="button" class="mt-header-btn" ng-click="downloadProof(item)">
                                        <i class="fa fa-download"></i> {{'Download' | r | xlat}}
                                    </button>
                                </div>
                                <ul ng-show="item.SpecsLength > 0" class="mt-cart-item-specs">
                                    <li ng-repeat="spec in item.Specs | filter:{'CanSetForLineItem':true}">
                                        <span class="mt-pdp-meta">{{spec.Label || spec.Name}}:</span>
                                        <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName}}</a></span>
                                        <span ng-if="spec.ControlType != 'File'">{{spec.Value || ('(unspecified)' | xlat)}}</span>
                                    </li>
                                </ul>

                                <div class="mt-cart-kit-contents" ng-if="item.IsKitParent && item.KitChildren.length">
                                    <button type="button" class="mt-cart-kit-toggle" ng-click="item.kitContentsOpen = !item.kitContentsOpen">
                                        <i class="fa" ng-class="item.kitContentsOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                                        {{(item.kitContentsOpen ? 'Hide kit contents' : 'View kit contents') | r | xlat}}
                                        <span class="mt-cart-kit-count">({{item.KitChildren.length}} {{'items' | r | xlat}})</span>
                                    </button>
                                    <ul class="mt-cart-kit-list" ng-show="item.kitContentsOpen">
                                        <li class="mt-cart-kit-row" ng-repeat="child in item.KitChildren">
                                            <div class="mt-cart-kit-row-main">
                                                <span class="mt-cart-kit-name">{{child.Variant.ExternalID || child.Product.Name}}</span>
                                                <span class="mt-pdp-meta">{{'Qty' | r | xlat}}: {{child.Quantity}}</span>
                                            </div>
                                            <ul ng-show="child.SpecsLength > 0" class="mt-cart-item-specs">
                                                <li ng-repeat="spec in child.Specs | filter:{'CanSetForLineItem':true}">
                                                    <span class="mt-pdp-meta">{{spec.Label || spec.Name}}:</span>
                                                    <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName}}</a></span>
                                                    <span ng-if="spec.ControlType != 'File'">{{spec.Value || ('(unspecified)' | xlat)}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mt-cart-item-qty" ng-if="!(item.IsKitParent && item.KitIsInvalid)">
                                <label>{{'Quantity' | r | xlat}}</label>
                                <div class="mt-cart-qty-row">
                                    <quantityfield required="true" lineitem="item" class="quantity"></quantityfield>
                                    <button type="button" class="mt-cart-remove-link" ng-click="removeItem(item)">{{'Remove' | r | xlat}}</button>
                                </div>
                            </div>

                            <div class="mt-cart-item-price" ng-if="!(item.IsKitParent && item.KitIsInvalid) && !(user.Permissions.contains('HidePricing'))">
                                <p class="mt-pdp-meta">{{'Unit Price' | r | xlat}} {{item.UnitPrice | culturecurrency}}</p>
                                <p class="mt-pdp-price">{{item.LineTotal | culturecurrency}}</p>
                            </div>

                            <div class="mt-cart-item-pending-action" ng-if="item.IsKitParent && item.KitIsInvalid">
                                <span class="mt-kit-pill mt-kit-pill-warn"><i class="fa fa-warning"></i> {{'Needs configuration' | r | xlat}}</span>
                                <a class="mt-btn-accent mt-cart-continue-btn" ng-href="{{'kit' + '/' + (item.Product.InteropID) + '/' + (isEditforApproval ? (currentOrder.ID + '/') : '') + ($index)}}">{{'Continue Configuring' | r | xlat}}</a>
                                <button type="button" class="mt-cart-remove-link" ng-click="removeItem(item)">{{'Remove' | r | xlat}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-cart-secondary-actions">
                        <button type="button" class="mt-header-btn" redirect="catalog">
                            {{'Continue Shopping' | r | xlat}}
                        </button>
                        <button type="button" class="mt-header-btn" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()">
                            <span ng-if="currentOrder.Status != 'AwaitingApproval'">{{('Clear' | r) + ' ' + ('Cart' | r) | xlat}}</span>
                            <span ng-if="currentOrder.Status == 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Edit' | r) | xlat}}</span>
                        </button>
                        <button type="submit" class="mt-header-btn" ng-click="saveChanges()">
                            <loadingindicator ng-show="displayLoadingIndicator"></loadingindicator>
                            {{('Save' | r) + ' ' + ('Order' | r) | xlat}}
                        </button>
                    </div>
                </div>

                <aside class="mt-cart-side">
                    <div class="mt-cart-summary-card">
                        <h2 class="mt-cart-summary-title">{{'Order summary' | r | xlat}}</h2>
                        <div class="mt-cart-summary-row" ng-if="!(user.Permissions.contains('HidePricing'))">
                            <span>{{'Subtotal' | r | xlat}}</span>
                            <span>{{currentOrder.Subtotal | culturecurrency}}</span>
                        </div>
                        <p class="mt-pdp-meta" ng-show="TaxMethod" ng-if="user.Company.TaxMethod != 'NoTax'">{{'Shipping, handling and tax may be added to this subtotal.' | r | xlat}}</p>

                        <button type="button" class="mt-btn-accent mt-cart-checkout-btn" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
                            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
                            {{'Proceed to Checkout' | r | xlat}}
                        </button>

                        <button type="button" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="mt-header-btn mt-cart-neworder-btn" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
                            <loadingindicator ng-show="newOrderLoadingIndicator"></loadingindicator>
                            {{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}
                        </button>
                    </div>
                </aside>
            </div>

            <div class="navbar-fixed-bottom">
                <div class="alert-warning text-center" style="padding: 10px;" ng-if="currentOrder.RepeatError">
                    {{'Some items were not added to your repeat order' | r | xlat}}: {{currentOrder.RepeatError}}
                </div>
                <div class="view-response-message alert-success text-center" alert-show="actionMessage">
                    <p>{{actionMessage | r | xlat}}</p>
                </div>
                <div class="view-response-message alert-success text-center" alert-show="errorMessage">
                    <p>{{errorMessage | r | xlat}}</p>
                </div>
                <div class="view-response-message alert-danger text-center" alert-show="gcMessage">{{gcMessage}}</div>
                <div class="view-error-message" ng-show="cart.$error.required.length > 0">
                    <ul class="alert-warning">
                        <li class="text-center">
                            <span class="badge">
                                <i class="fa fa-exclamation-circle fa-inverse"></i>
                                {{cart.$error.required.length}}
                            </span>
                        </li>
                        <li class="text-center">
                            <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                                <li ng-if="cart.dateneeded.$invalid">{{('Date needed' | r) +  ' is ' +  ('Required' | rl) | xlat}}</li>
                                <li ng-if="cart.costcenter.$invalid">{{('Cost Center' | r) + ' is ' + ('Required' | rl) | xlat}}</li>
                                <li ng-if="cart.qtyInput.$invalid">{{'You have entered an invalid ' + ('Quantity' | rl) | xlat}}</li>
                                <li ng-if="cart.kitValidation.$invalid">{{'The kit has unconfigured items. You must configure them before continuing.' | r | xlat}}</li>
                            </ul>
                        </li>
                        <li class="text-center">
                            <a ng-show="cart.$error.required.length + (errorMessage ? 1 : 0) > 1">
                                <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                                <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <cartprint class="visible-print"></cartprint>
</section>
