<section class="mt-cart">
    <div ng-show="currentOrder" class="hidden-print">
        <form ng-submit="saveChanges()" name="cart" novalidate="" class="mt-container mt-cart-inner">
            <div class="mt-cart-header">
                <h1 class="mt-pdp-title">{{'Cart' | r | xlat}}</h1>
                <button type="button" class="mt-header-btn" ng-click="onPrint()">
                    <i class="fa fa-print"></i> {{'Print' | r | xlat}}
                </button>
            </div>

            <loadingindicator ng-show="displayLoadingIndicator" title="{{'Please wait while we save your order' | r | xlat}}"></loadingindicator>

            <cartmessage></cartmessage>

            <p class="mt-cart-count">{{currentOrder.LineItems.length}} {{'item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl | xlat}} {{'in your' | rl | xlat:(currentOrder.LineItems.length)}} {{'cart' | rl | xlat}}</p>

            <div class="mt-cart-list">
                <div class="mt-cart-item" ng-repeat="item in currentOrder.LineItems">
                    <button type="button" title="Remove Item" class="mt-cart-remove" ng-click="removeItem(item)">
                        <span class="fa fa-minus-circle"></span>
                    </button>

                    <img class="mt-cart-item-photo mt-real-photo" ng-show="item.Variant.LargeImageUrl || item.Product.SmallImageUrl" ng-src="{{item.Variant.LargeImageUrl || item.Product.SmallImageUrl}}" />
                    <div class="mt-placeholder-photo mt-cart-item-photo" ng-hide="item.Variant.LargeImageUrl || item.Product.SmallImageUrl">
                        {{'[product photo]' | r | xlat}}
                    </div>

                    <div class="mt-cart-item-info">
                        <a class="mt-cart-item-link" ng-if="currentOrder.Status != 'AwaitingApproval' || isEditforApproval" ng-href="{{(item.Product.Type == 'Kit' ? 'kit' : 'cart') + '/' + (item.Product.InteropID) + '/' + (isEditforApproval ? (currentOrder.ID + '/') : '') + ($index)}}">
                            <i ng-show="item.KitIsInvalid" class="fa fa-exclamation-triangle"></i>
                            <span class="mt-cart-item-name">{{item.Product.Name}}</span>
                            <span class="mt-pdp-sku">{{item.ProductIDText}}</span>
                        </a>
                        <div ng-if="currentOrder.Status == 'AwaitingApproval' && !isEditforApproval">
                            <span class="mt-cart-item-name">{{item.Product.Name}}</span>
                            <span class="mt-pdp-sku">{{item.ProductIDText}}</span>
                        </div>

                        <div class="mt-cart-item-fields" ng-if="(user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')) || user.Permissions.contains('CostCenterPerLine')">
                            <div class="mt-field" ng-if="user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')">
                                <label ng-class="{required: user.Permissions.contains('DateNeededRequired')}">{{'Date' | r | xlat}}</label>
                                <div class="mt-field-row">
                                    <input name="dateneeded" placeholder="{{'Date' | xlat}}" ng-model="item.DateNeeded" ng-required="user.Permissions.contains('DateNeededRequired')"
                                           type="text" datepicker-popup="{{user.Culture.DateFormat.short}}" is-open="item.dateOpened" min="currentDate" />
                                    <button type="button" title="{{'copy to all' | r | xlat}}" class="mt-header-btn" ng-click="copyAddressToAll()" ng-show="item.DateNeeded" ng-if="$index == 0 && currentOrder.LineItems.length > 1 && user.CostCenters.length != 1">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-field" ng-if="user.Permissions.contains('CostCenterPerLine')">
                                <label class="required" ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')">{{'Cost Center' | r | xlat}}</label>
                                <div class="mt-field-row">
                                    <select name="costcenter" required ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')"
                                            ng-options="center.Name as center.Name for center in user.CostCenters" ng-model="item.CostCenter">
                                        <option value=""></option>
                                    </select>
                                    <input name="costcenter" ng-if="user.Permissions.contains('FreeFormCostCenter')" ng-model="item.CostCenter" type="text" required placeholder="{{'Cost Center' | r | xlat}}" />
                                    <span ng-if="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')">{{item.CostCenter}}</span>
                                    <button type="button" title="{{'copy to all' | r | xlat}}" class="mt-header-btn" ng-click="copyCostCenterToAll()" ng-show="item.CostCenter" ng-hide="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')" ng-if="$index == 0 && currentOrder.LineItems.length > 1">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-cart-item-specs-toggle">
                            <button type="button" class="mt-header-btn" ng-if="item.Variant.IsMpowerVariant" ng-click="downloadProof(item)">
                                <i class="fa fa-download"></i> {{'Download' | r | xlat}}
                            </button>
                            <button type="button" class="mt-header-btn" ng-show="item.SpecsLength > 0" ng-click="item.toggleSpecs = !item.toggleSpecs">
                                <span ng-show="!item.toggleSpecs">{{('Show' | r) + ' ' + ('Specification' | r) | xlat}}</span>
                                <span ng-show="item.toggleSpecs">{{('Hide' | r) + ' ' + ('Specification' | r) | xlat}}</span>
                            </button>
                        </div>
                        <ul ng-show="item.toggleSpecs == true" class="mt-cart-item-specs">
                            <li ng-repeat="spec in item.Specs | filter:{'CanSetForLineItem':true}">
                                <span class="mt-pdp-meta">{{spec.Label || spec.Name}}:</span>
                                <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName}}</a></span>
                                <span ng-if="spec.ControlType != 'File'">{{spec.Value || ('(unspecified)' | xlat)}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-cart-item-qty" ng-if="!(user.Permissions.contains('HidePricing'))">
                        <label>{{'Quantity' | r | xlat}}</label>
                        <quantityfield required="true" lineitem="item" class="quantity"></quantityfield>
                        <p class="mt-pdp-meta" ng-show="item.Quantity * item.Product.QuantityMultiplier">{{'Total Quantity' | r | xlat}} {{item.Quantity * item.Product.QuantityMultiplier}}</p>
                    </div>

                    <div class="mt-cart-item-price" ng-if="!(user.Permissions.contains('HidePricing'))">
                        <p class="mt-pdp-meta">{{'Unit Price' | r | xlat}} {{item.UnitPrice | culturecurrency}}</p>
                        <p class="mt-pdp-price">{{item.LineTotal | culturecurrency}}</p>
                    </div>
                </div>
            </div>

            <div class="mt-cart-footer">
                <giftcardredemption ng-if="user.Permissions.contains('ViewPromotions')"></giftcardredemption>
                <div class="mt-cart-summary" ng-if="!(user.Permissions.contains('HidePricing'))">
                    <p class="mt-cart-subtotal">{{'Subtotal' | r | xlat}} <span>{{currentOrder.Subtotal | culturecurrency}}</span></p>
                    <p class="mt-pdp-meta" ng-show="TaxMethod" ng-if="user.Company.TaxMethod != 'NoTax'">{{'Shipping, handling and tax may be added to this subtotal.' | r | xlat}}</p>
                    <button type="button" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="mt-header-btn" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
                        <loadingindicator ng-show="newOrderLoadingIndicator"></loadingindicator>
                        {{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}
                    </button>
                </div>
            </div>

            <div class="navbar-fixed-bottom">
                <div class="alert-warning text-center" style="padding: 10px;" ng-if="currentOrder.RepeatError">
                    {{'Some items were not added to your repeat order' | r | xlat}}: {{currentOrder.RepeatError}}
                </div>
                <div class="view-response-message alert-success text-center" alert-show="actionMessage">
                    <p>{{actionMessage | r | xlat}}</p>
                </div>
                <div class="view-response-message alert-success text-center" alert-show="errorMessage">
                    <p>{{errorMessage | r | xlat}}</p>
                </div>
                <div class="view-response-message alert-danger text-center" alert-show="gcMessage">{{gcMessage}}</div>
                <div class="view-error-message" ng-show="cart.$error.required.length > 0">
                    <ul class="alert-warning">
                        <li class="text-center">
                            <span class="badge">
                                <i class="fa fa-exclamation-circle fa-inverse"></i>
                                {{cart.$error.required.length}}
                            </span>
                        </li>
                        <li class="text-center">
                            <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                                <li ng-if="cart.dateneeded.$invalid">{{('Date needed' | r) +  ' is ' +  ('Required' | rl) | xlat}}</li>
                                <li ng-if="cart.costcenter.$invalid">{{('Cost Center' | r) + ' is ' + ('Required' | rl) | xlat}}</li>
                                <li ng-if="cart.qtyInput.$invalid">{{'You have entered an invalid ' + ('Quantity' | rl) | xlat}}</li>
                                <li ng-if="cart.kitValidation.$invalid">{{'The kit has unconfigured items. You must configure them before continuing.' | r | xlat}}</li>
                            </ul>
                        </li>
                        <li class="text-center">
                            <a ng-show="cart.$error.required.length + (errorMessage ? 1 : 0) > 1">
                                <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                                <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <orderbuttons view="cart" continue="true"></orderbuttons>
            </div>
        </form>
    </div>
    <cartprint class="visible-print"></cartprint>
</section>
