<div class="mt-section" ng-show="currentCategory.SubCategories.length">
    <h2 class="mt-eyebrow">{{'Categories' | r | xlat}}</h2>
    <div ng-show="currentCategory.Description" ng-bind-html="trusted(currentCategory.Description)" class="mt-category-desc"></div>
    <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}"></loadingindicator>
    <div class="row">
        <div class="col-sm-4 col-xs-6" ng-repeat="c in currentCategory.SubCategories">
            <a ng-href="catalog/{{c.InteropID}}" class="mt-dept-tile">
                <img ng-if="c.Image.URL" ng-src="{{c.Image.URL}}" class="mt-placeholder-photo mt-real-photo" alt="" />
                <div ng-if="!c.Image.URL" class="mt-placeholder-photo">{{'[category photo]' | r | xlat}}</div>
                <p class="mt-dept-name" ng-bind-html="c.Name"></p>
            </a>
        </div>
    </div>
</div>
