<section class="mt-checkout">
    <loadingindicator ng-show="displayLoadingIndicator" title="{{'Please wait while we update your order' | r | xlat}}"></loadingindicator>

    <div class="mt-container mt-checkout-inner">
        <h1 class="mt-pdp-title">{{'Checkout' | r | xlat}}</h1>

        <div class="mt-checkout-layout">
            <div class="mt-checkout-main" ng-show="currentOrder && currentOrder.isEditable" ng-click="showSuccessAlert = false">
                <orderdetails ng-show="hasOrderConfig"></orderdetails>
                <ordershipping></ordershipping>
                <orderbilling ng-show="currentOrder.BillingEnabled"></orderbilling>
                <orderapprovals ng-show="currentOrder.Approvals"></orderapprovals>
            </div>

            <aside class="mt-checkout-side">
                <ordersummary></ordersummary>
            </aside>
        </div>

        <div class="navbar-fixed-bottom">
            <div class="view-response-message alert-success text-center" alert-show="actionMessage">
                <p ng-bind-html="actionMessage | r | xlat"></p>
            </div>
        </div>
    </div>

    <!-- Missing checkout details. Opened by submitOrder() in checkOutViewCtrl.js when a required
         field is empty; each line clears itself as the field it names is filled in. -->
    <mt-error-modal open="showCheckoutErrors" heading="Some details are missing">
        <p class="mt-error-modal-message mt-error-modal-intro">{{'Complete the fields marked with * before placing your order.' | r | xlat}}</p>
        <ul class="mt-error-modal-list">
            <li ng-if="cart_order.orderid.$invalid">{{'Enter an ' + ('order' | r) + ' ' + ('ID' | r) | xlat}}</li>
            <li ng-repeat="field in currentOrder.OrderFields" ng-if="field.Required == true && (field.Value == '' || field.Value == null)">Please select or enter {{field.Label}}</li>
            <li ng-if="cart_shipping.shippingAddress.$invalid">{{'Please choose a ' + ('Shipping' | rl) + ' ' + ('Address' | rl) | xlat}}</li>
            <li ng-if="cart_shipping.shippingAddressLineItem.$invalid">{{'Please choose a ' + ('Shipping' | rl) + ' ' + ('Address' | rl) | xlat}}</li>
            <li ng-if="cart_shipping.shipMethod.$invalid">{{'Please choose a ' + ('Shipping' | rl) + ' ' + ('Method' | rl) | xlat}}</li>
            <li ng-if="cart_billing.billingAddress.$invalid">{{'Please choose a ' + ('Billing' | rl) + ' ' + ('Address' | rl) | xlat}}</li>
            <li ng-if="currentOrder.BillingEnabled && cart_billing.billingFirstName.$invalid">{{'Please enter a ' + ('Billing' | rl) + ' ' + ('First Name' | rl) | xlat}}</li>
            <li ng-if="currentOrder.BillingEnabled && cart_billing.billingLastName.$invalid">{{'Please enter a ' + ('Billing' | rl) + ' ' + ('Last Name' | rl) | xlat}}</li>
            <li ng-if="cart_billing.$error.paymentMethod">{{'Please choose a valid ' + ('Payment' | rl) + ' ' + ('Method' | rl) | xlat}}</li>
            <li ng-if="!user.Permissions.contains('CreateBillToAddress') && billaddresses.length == 0">
                {{'You have not been granted permission to create a ' + ('Billing' | r) + ' ' + ('Address' | r) + ', and no ' + ('Billing' | r) + ' ' + ('Addresses' | r) + ' have been assigned to you. Therefore, you are not allowed to place this ' + ('Order' | r) + ' at this time' | xlat}}
            </li>
            <li ng-if="!user.Permissions.contains('CreateShipToAddress') && shipaddresses.length == 0">
                {{'You have not been granted permission to create a ' + ('Shipping' | r) + ' ' + ('Address' | r) + ', and no ' + ('Shipping' | r) + ' ' + ('Addresses' | r) + ' have been assigned to you. Therefore, you are not allowed to place this ' + ('Order' | r) + ' at this time' | xlat}}
            </li>
        </ul>
    </mt-error-modal>
    <mt-error-modal message="errorMessage"></mt-error-modal>
    <mt-error-modal message="couponError" heading="Coupon not applied"></mt-error-modal>
</section>
