<section class="product-detail-default mt-pdp mt-kit">
	<loadingindicator ng-show="loadingIndicator" title="{{'Please wait while we fetch kit information' | r | xlat}}"></loadingindicator>

	<div class="mt-container mt-pdp-inner">
		<p class="mt-breadcrumb"><a href="catalog">{{'Home' | r | xlat}}</a> / {{Kit.KitParent.Name}}</p>

		<div class="row">
			<!-- KIT IMAGE + KIT ITEMS PANEL -->
			<div class="col-md-5">
				<div class="mt-pdp-image-wrap">
					<img id="451_img_prod_lg" class="mt-placeholder-photo mt-real-photo mt-pdp-image" ng-src="{{Kit.KitParent.LargeImageUrl}}" ng-show="Kit.KitParent.LargeImageUrl" imageonload />
					<div class="mt-placeholder-photo mt-pdp-image" ng-hide="Kit.KitParent.LargeImageUrl">
						{{'[product photo]' | r | xlat}}
					</div>
				</div>

				<div class="mt-kit-items">
					<div class="mt-kit-items-header">
						<h3>{{'Kit Contents' | r | xlat}}</h3>
						<span class="mt-kit-items-count">{{Kit.KitItems.length}} {{'items' | r | xlat}}</span>
					</div>
					<ul class="mt-kit-items-list">
						<li class="mt-kit-item-row" ng-class="{'mt-kit-item-active': item.ID == ActiveKitItem.ID, 'mt-kit-item-noclick': !item.LineItem.IsConfigurable}" ng-repeat="item in Kit.KitItems" ng-click="setItemAsCurrent(item)">
							<div class="mt-kit-item-name">
								{{item.Variant.ExternalID}}
								<span class="mt-kit-item-qty">{{'Qty' | r | xlat}}: {{item.Quantity}}</span>
							</div>
							<span class="mt-kit-pill mt-kit-pill-muted" ng-if="!item.LineItem.IsConfigurable">{{'Included' | r | xlat}}</span>
							<span class="mt-kit-pill mt-kit-pill-active" ng-if="item.LineItem.IsConfigurable && item.ID == ActiveKitItem.ID"><i class="fa fa-pencil"></i> {{'Editing' | r | xlat}}</span>
							<span class="mt-kit-pill mt-kit-pill-done" ng-if="item.LineItem.IsConfigurable && item.LineItem.IsConfigured && item.ID != ActiveKitItem.ID"><i class="fa fa-check"></i> {{'Done' | r | xlat}}</span>
							<span class="mt-kit-pill mt-kit-pill-warn" ng-if="item.LineItem.IsConfigurable && !item.LineItem.IsConfigured && item.ID != ActiveKitItem.ID"><i class="fa fa-warning"></i> {{'Action Needed' | r | xlat}}</span>
						</li>
					</ul>
				</div>
			</div>

			<!-- KIT INFO / ORDER PANEL -->
			<div class="col-md-7">
				<h1 class="mt-pdp-title">{{Kit.KitParent.Name}}</h1>
				<p class="mt-pdp-price" ng-show="LineItem.IsKitParent && Kit.KitParent.PriceSchedule.PriceBreaks.length == 1" ng-if="!(user.Permissions.contains('HidePricing'))">
					{{Kit.KitParent.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
				</p>

				<priceScheduleTable ng-if="!(user.Permissions.contains('HidePricing')) && LineItem.PriceSchedule.PriceBreaks.length > 1 && LineItem.IsKitParent" ps='LineItem.PriceSchedule' p='Kit.KitParent'></priceScheduleTable>

				<staticspecstable ng-show="StaticSpecGroups && user.Permissions.contains('ViewNonCustomizableSpecs')" specgroups="StaticSpecGroups" length="LineItem.StaticSpecLength"></staticspecstable>

				<div class="mt-kit-config-card">
					<div class="mt-kit-config-card-header" ng-if="allowAddToOrder && LineItem.IsKitParent">
						<span class="mt-eyebrow-inverse">{{'Order' | r | xlat}}</span>
					</div>
					<div class="mt-kit-config-card-header" ng-if="LineItem.IsKitChild">
						<span class="mt-eyebrow-inverse">{{'Configuring item' | r | xlat}}</span>
						<h3>{{LineItem.Variant.ExternalID || LineItem.Product.ExternalID | r | xlat}}</h3>
					</div>
					<form name="addToOrderForm" novalidate="" class="mt-kit-config-card-body">
						<div class="alert alert-danger mt-pdp-alert" ng-show="!allowAddToOrder && !canCreateVariant">
							<p>
								<i class="fa fa-ban"></i>
								{{'Your current order does not allow this product to be added to your cart' | r | xlat}}
							</p>
						</div>

						<kitaddtoorderspecs template="{{LineItem.Product.InteropID}}" ng-show="allowAddToOrder"></kitaddtoorderspecs>

						<!-- VARIANT LIST -->
						<div ng-if="ActiveKitItem.RequiresVariantSelection" class="mt-variant-list-wrap">
							<div class="row">
								<div class="col-xs-9" ng-show="ActiveKitItem.Variant.IsDefaultVariant && LineItem.Product.VariantCount > 0">
									<h2 class="mt-eyebrow">{{'Select a Variant' | r | xlat}}</h2>
								</div>
								<div class="col-xs-3" ng-show="ActiveKitItem.Variant.IsDefaultVariant" ng-class="{'text-right': LineItem.Product.VariantCount > 0}">
									<a class="mt-header-btn" ng-href="kit/{{Kit.KitParent.InteropID}}/{{kitIndex}}/{{ActiveKitItem.LineItem.Product.InteropID}}">{{'Create New' | r | xlat}}</a>
								</div>
							</div>
							<div class="mt-variant-search" ng-if="ActiveKitItem.Variant.IsDefaultVariant && (LineItem.Product.VariantCount > settings.pageSize || searchTerm)">
								<input ng-model="searchTerm" type="text" placeholder="{{'Search' | r | xlat}}" />
								<button type="button" ng-click="searchVariants(searchTerm)">{{'Search' | r | xlat}}</button>
							</div>
							<ul class="mt-variant-list">
								<loadingindicator ng-show="searchIndicator"></loadingindicator>
								<li class="mt-variant-row" ng-repeat="v in LineItem.Product.Variants | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize" ng-click="selectVariant(v)">
									<div class="row">
										<div class="col-xs-9">
											<strong>{{v.ExternalID}}</strong>
											<p ng-show="v.Description" ng-bind-html="trustedDescription(v)"></p>
											<p class="mt-pdp-meta" ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
												{{'Quantity Available' | r | xlat}}: {{v.QuantityAvailable}}
											</p>
										</div>
										<div class="col-xs-3 text-right">
											<span class="mt-kit-pill mt-kit-pill-done" ng-show="LineItem.Variant.InteropID == v.InteropID"><i class="fa fa-check"></i> {{'Selected' | r | xlat}}</span>
										</div>
									</div>
								</li>
							</ul>
							<div class="mt-pagination" ng-show="ActiveKitItem.Variant.IsDefaultVariant && LineItem.Product.VariantCount > settings.pageSize">
								<pagination ng-change="paged()" ng-model="settings.currentPage" page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="LineItem.Product.VariantCount"
											items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
							</div>
						</div>

						<div class="mt-order-actions" ng-show="allowAddToOrder">
							<p class="mt-pdp-meta" ng-show="LineItem.Product.DisplayInventory && (LineItem.Variant || LineItem.Product.Variants.length == 0)">
								{{'Quantity Available' | r | xlat}}: {{inventoryDisplay(LineItem.Product, LineItem.Variant)}}
							</p>
							<p class="mt-pdp-meta" ng-show="LineItem.PriceSchedule.MinQuantity > 1 && !LineItem.PriceSchedule.RestrictedQuantity">
								{{'Minimum Quantity' | r | xlat}}: {{LineItem.PriceSchedule.MinQuantity}}
							</p>
							<p class="mt-pdp-meta" ng-show="LineItem.PriceSchedule.MaxQuantity && !LineItem.PriceSchedule.RestrictedQuantity">
								{{'Maximum Quantity' | r | xlat}}: {{LineItem.PriceSchedule.MaxQuantity}}
							</p>
							<div class="mt-order-row" ng-if="!allowAddFromVariantList && LineItem.IsKitParent">
								<label ng-class="{required: !allowAddFromVariantList}" ng-hide="allowAddFromVariantList">{{('Order' | r) + ' ' + ('Quantity' | r) | xlat}}</label>
								<quantityfield required="true" lineitem="LineItem" class="quantity"></quantityfield>
							</div>
							<button ng-show="LineItem.IsKitParent" class="mt-btn-accent mt-pdp-add-btn" type="button" ng-click="saveOrder()">
								<loadingindicator ng-show="addToOrderIndicator"></loadingindicator>
								<i ng-show="lineItemErrors.length > 0" class="fa fa-warning"></i>
								{{addToOrderText | r | xlat}}
								<span ng-if="!(user.Permissions.contains('HidePricing')) && (LineItem.LineTotal || variantLineItemsOrderTotal) > 0">
									&middot; {{(LineItem.LineTotal || variantLineItemsOrderTotal) | culturecurrency}}
								</span>
							</button>
							<p class="mt-pdp-meta mt-kit-configure-note" ng-show="LineItem.IsKitParent && !LineItem.ID && Kit.KitHasConfigurableItems">
								{{'This kit includes' | r | xlat}} {{Kit.KitItems.length}} {{'items. Anything that needs your input will be configured next.' | r | xlat}}
							</p>
							<div ng-show="LineItem.IsKitChild">
								<loadingindicator ng-show="addToOrderIndicator"></loadingindicator>
								<button class="mt-btn-accent mt-pdp-add-btn" type="button" ng-click="saveKitItem()" ng-disabled="(ActiveKitItem.RequiresVariantSelection && !LineItem.Variant)">
									<i ng-show="lineItemErrors.length > 0" class="fa fa-warning"></i>
									{{updateKitLineItemText | r | xlat}}
								</button>
							</div>
						</div>
					</form>
				</div>

				<div class="mt-pdp-description">
					<h2 class="mt-eyebrow">{{'Description' | r | xlat}}</h2>
					<h4 ng-show="Kit.KitParent.ExternalID" class="mt-pdp-meta">
						{{'ID' | r | xlat}}: {{Kit.KitParent.ExternalID}}
					</h4>
					<p ng-bind-html="trustedDescription(Kit.KitParent)"></p>
				</div>
			</div>
		</div>
	</div>

	<!-- ERROR MESSAGING (unchanged - already fixed-position, not part of the layout flow) -->
	<div class="navbar-fixed-bottom">
		<div class="view-error-message" ng-show="showAddToCartErrors && lineItemErrors.length > 0">
			<ul class="alert-warning">
				<li class="text-center">
					<span class="badge">
						<i class="fa fa-exclamation-circle fa-inverse"></i>
						{{lineItemErrors.length}}
					</span>
				</li>
				<li class="text-center">
					<ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
						<li class="alert-warning" ng-repeat="e in lineItemErrors">{{e | xlat}}</li>
						<li class="alert-warning" ng-show="variantLineItems[v.InteropID].qtyError">{{variantLineItems[v.InteropID].qtyError}}</li>
					</ul>
				</li>
				<li class="text-center">
					<a ng-show="lineItemErrors.length > 1">
						<i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
						<i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
