<section class="product-detail-default mt-pdp mt-kit">
    <loadingindicator ng-show="loadingIndicator" title="{{'Please wait while we fetch product information' | r | xlat}}"></loadingindicator>
    <div id="message">
        <div class="view-response-message alert-success text-center" alert-show="actionMessage">
            <p style="font-size: 20px;">{{actionMessage | r | xlat}}</p>
        </div>
    </div>

    <div class="mt-container mt-pdp-inner">
        <div class="row">
            <!-- PRODUCT IMAGE PANEL -->
            <div class="col-md-5">
                <div class="mt-pdp-image-wrap" ng-if="!LineItem.Variant" ng-controller="LightboxCtrl">
                    <productlightbox></productlightbox>
                </div>
                <div ng-if="LineItem.Variant">
                    <div class="mt-pdp-image-wrap">
                        <loadingindicator ng-show="loadingImage && LineItem.Variant.IsMpowerVariant"></loadingindicator>
                        <img id="451_img_prod_lg" class="mt-placeholder-photo mt-real-photo mt-pdp-image" ng-src="{{LineItem.Variant.PreviewUrl || LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl}}"
                             ng-show="LineItem.Variant.PreviewUrl || LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl" imageonload />
                        <div class="mt-placeholder-photo mt-pdp-image" ng-hide="LineItem.Variant.PreviewUrl || LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl">
                            {{'[product photo]' | r | xlat}}
                        </div>
                    </div>
                    <div class="mt-pdp-variant-actions" ng-show="LineItem.Product.Type=='VariableText' && LineItem.Variant">
                        <button ng-if="currentOrder.Status != 'AwaitingApproval' && !EditingLineItem" class="mt-header-btn" redirect="/kit/{{kitID}}/{{kitIndex}}/{{kitProductInteropID}}/{{LineItem.Variant.InteropID}}/edit">
                            {{'Edit' | r | xlat}}
                        </button>
                        <button ng-if="currentOrder.Status == 'AwaitingApproval' || EditingLineItem" class="mt-header-btn" redirect="/kit/{{kitID}}/{{kitIndex}}/{{kitProductInteropID}}/{{LineItem.Variant.InteropID}}/edit">
                            {{'Edit' | r | xlat}}
                        </button>
                        <button class="mt-header-btn" ng-if="currentOrder.Status != 'AwaitingApproval' && !EditingLineItem" ng-click="deleteVariant(LineItem.Variant, true)">
                            {{'Remove' | r | xlat}}
                        </button>
                        <button class="mt-header-btn" ng-click="getPdf(LineItem.Variant.ProofUrl)">
                            {{('View' | r) + ' ' + ('PDF' | r) | xlat}}
                        </button>
                    </div>
                </div>
            </div>

            <!-- PRODUCT INFO / ORDER PANEL -->
            <div class="col-md-7">
                <h1 class="mt-pdp-title" ng-hide="LineItem.Variant.ExternalID">{{LineItem.Product.Name}}</h1>
                <h1 class="mt-pdp-title" ng-show="LineItem.Variant.ExternalID">{{LineItem.Variant.ExternalID}}</h1>
                <p class="mt-pdp-price" ng-show="LineItem.PriceSchedule.PriceBreaks[0].Price > 0.00">
                    {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
                </p>

                <priceScheduleTable ng-if="!(user.Permissions.contains('HidePricing')) && LineItem.PriceSchedule.PriceBreaks.length > 1" ps='LineItem.PriceSchedule' p='LineItem.Product'></priceScheduleTable>

                <staticspecstable ng-show="StaticSpecGroups && user.Permissions.contains('ViewNonCustomizableSpecs')" specgroups="StaticSpecGroups" length="LineItem.Product.StaticSpecLength"></staticspecstable>

                <form name="addToOrderForm" novalidate="" class="mt-order-panel">
                    <button class="mt-btn-accent mt-pdp-add-btn" type="button" id="451_btn_orderadd" ng-click="addToOrder()">
                        <loadingindicator ng-show="addToOrderIndicator"></loadingindicator>
                        <i ng-show="lineItemErrors.length > 1" class="fa fa-warning"></i>
                        {{addToOrderText | r | xlat}}
                    </button>
                </form>

                <div class="mt-pdp-description">
                    <h2 class="mt-eyebrow">{{'Product Description' | r | xlat}}</h2>
                    <h4 ng-show="LineItem.Product.ExternalID" class="mt-pdp-meta">
                        {{'ID' | r | xlat}}: {{LineItem.Product.ExternalID}}
                    </h4>
                    <p id="451qa_prod_desc" ng-bind-html="trustedDescription(LineItem.Product)"></p>
                    <p ng-show="LineItem.Variant.Description" ng-bind-html="trustedDescription(LineItem.Variant)"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- ERROR MESSAGING (unchanged - already fixed-position, not part of the layout flow) -->
    <div class="navbar-fixed-bottom">
        <div class="view-error-message" ng-show="showAddToCartErrors && lineItemErrors.length > 0">
            <ul class="alert-warning">
                <li class="text-center">
                    <span class="badge">
                        <i class="fa fa-exclamation-circle fa-inverse"></i>
                        {{lineItemErrors.length}}
                    </span>
                </li>
                <li class="text-center">
                    <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                        <li class="alert-warning" ng-repeat="e in lineItemErrors">{{e | xlat}}</li>
                        <li class="alert-warning" ng-show="variantLineItems[v.InteropID].qtyError">{{variantLineItems[v.InteropID].qtyError}}</li>
                    </ul>
                </li>
                <li class="text-center">
                    <a ng-show="lineItemErrors.length > 1">
                        <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                        <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
