<section class="mt-messages">
    <accountnavigation></accountnavigation>
    <div class="mt-container mt-messages-inner">
        <loadingindicator ng-show="displayLoadingIndicator"></loadingindicator>

        <h1 class="mt-pdp-title">{{'Messages' | r | xlat}}</h1>

        <div class="mt-checkout-card mt-messages-card">
            <p class="alert alert-warning mt-pdp-alert" ng-show="messages.length == 0">{{'You have no ' + ('Messages' | rl) + ' yet!' | xlat}}</p>

            <div class="table-responsive" ng-show="messages.length > 0">
                <table class="mt-messages-table">
                    <tr>
                        <th><input type='checkbox' ng-click="checkAll($event)" /></th>
                        <th>{{'Status' | r}}</th>
                        <th>{{'Date' | r}}</th>
                        <th>{{'Subject' | r}}</th>
                        <th>{{'From' | r}}</th>
                    </tr>
                    <tr ng-repeat="message in messages | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:DateSent">
                        <td><input type='checkbox' ng-model="message.Selected" /></td>
                        <td><span class="mt-kit-pill mt-kit-pill-muted mt-messages-status">{{message.Box.replace('Box', '') | xlat}}</span></td>
                        <td class="mt-messages-date">{{message.DateSent | date:user.Culture.DateFormat.long}}</td>
                        <td><a ng-href="message/{{message.ID}}" class="mt-messages-subject-link">{{message.Subject}}</a></td>
                        <td>{{message.FromName}}</td>
                    </tr>
                </table>
            </div>

            <div class="mt-pagination" ng-show="settings.listCount > settings.pageSize">
                <pagination ng-change="paged()" ng-model="settings.currentPage" page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                            items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
            </div>

            <div class="mt-messages-actions">
                <button id="451qa_btn_delmsg" type="button" class="mt-cart-remove-link" ng-click="deleteSelected($event)" ng-disabled="(messages | filter:{Selected:true}).length == 0">
                    {{('Delete' | r) + ' ' + ('Selected' | r) | xlat}}
                </button>
                <button id="451qa_btn_cmpmsg" class="mt-btn-accent" type="button" redirect="message/new">
                    {{'Compose' | r | xlat}}
                </button>
            </div>
        </div>
    </div>
</section>
