<section class="mt-price-schedule">
    <button id="451qa_btn_showhide_psched" class="mt-price-schedule-toggle" type="button" ng-click="showPS = !showPS" aria-controls="451qa_list_pric_schd" aria-expanded="{{showPS ? 'true' : 'false'}}">
        <span>
            {{'Price Schedule' | r | xlat}}
            <span class="mt-price-schedule-from" ng-show="!showPS && fromPrice() !== null">&middot; {{'from' | r | xlat}} {{fromPrice() | culturecurrency}}</span>
        </span>
        <i class="fa" ng-class="showPS ? 'fa-caret-up' : 'fa-caret-down'" aria-hidden="true"></i>
    </button>
    <div id="451qa_list_pric_schd" class="mt-price-schedule-table" ng-show="ps && p && showPS">
        <div class="mt-price-schedule-row mt-price-schedule-head">
            <div class="mt-price-schedule-col">
                {{'Quantity' | r | xlat}}
                <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity">(x {{p.QuantityMultiplier}})</span>
            </div>
            <div class="mt-price-schedule-col mt-price-schedule-col-price">
                {{'Price' | r | xlat}}
                <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity">(per {{p.QuantityMultiplier}})</span>
            </div>
        </div>
        <div class="451qa_list_pricebreaks mt-price-schedule-row" ng-repeat="pb in ps.PriceBreaks">
            <div class="mt-price-schedule-col">
                {{pb.Quantity * (ps.RestrictedQuantity ? p.QuantityMultiplier : 1)}}
                <span ng-show="!ps.RestrictedQuantity">
                    <span ng-show="ps.PriceBreaks[$index + 1].Quantity"> - {{ ps.PriceBreaks[$index + 1].Quantity - 1  }}</span>
                    <span ng-show="$last && ps.MaxQuantity"> - {{ps.MaxQuantity}}</span>
                    <span ng-show="$last && !ps.MaxQuantity"> +</span>
                </span>
            </div>
            <div class="mt-price-schedule-col mt-price-schedule-col-price">
                {{pb.Price * (ps.RestrictedQuantity ? pb.Quantity : 1)| culturecurrency}}
            </div>
        </div>
    </div>
</section>
