<div class="mt-section" ng-show="products">
    <div ng-show="currentCategory.Description" ng-bind-html="trusted(currentCategory.Description)" class="mt-category-desc"></div>

    <div class="mt-plp-toolbar" ng-show="currentCategory.InteropID">
        <p class="mt-plp-count" ng-if="productCount">{{productCount}} {{'products' | r | xlat}}</p>
        <div class="mt-sort" ng-show="currentCategory.SortOptions.length > 0">
            <label for="mt-sort-select">{{'Sort by' | r | xlat}}</label>
            <select id="mt-sort-select" ng-options="option.SortValue as (option.Display | xlat) for option in currentCategory.SortOptions" ng-model="sort"><option value=""></option></select>
        </div>
    </div>

    <div ng-show="productCount > settings.pageSize" class="mt-pagination">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                    items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>

    <div class="mt-product-grid-wrap" ng-show="currentCategory.InteropID">
        <loadingindicator ng-show="searchLoading" title="{{'Please wait while we fetch all products' | r | xlat}}" />
        <div class="row">
            <div class="col-sm-3 col-xs-6" id="451_lst_prod" ng-repeat="product in products | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
                <shortproductviewgallery p="product" user="user" />
            </div>
        </div>
    </div>

    <div ng-show="productCount > settings.pageSize" class="mt-pagination">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
            items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>
</div>
