<section class="mt-account-page">
    <div class="mt-container mt-account-inner">
        <loadingindicator title="{{'Please wait while we save your changes' | r | xlat}}" ng-show="displayLoadingIndicator"></loadingindicator>
        <identifyusermessage ng-show="user.Type == 'TempCustomer'"></identifyusermessage>

        <div class="row" ng-show="user.Permissions.contains('ViewSelfAdmin')">
            <div ng-class="{'mt-signup-col': user.Type == 'TempCustomer'}">
                <form name="user_form" ng-submit="save()">
                    <div class="mt-checkout-card" id="user_form">
                        <div class="mt-login-brand" ng-if="user.Type == 'TempCustomer'">
                            <img ng-if="site.logo.url || user.Company.LogoUrl" ng-src="{{site.logo.url || user.Company.LogoUrl}}" alt="{{site.logo.alt || site.name || user.Company.Name || 'Storefront'}}" />
                            <span ng-if="!(site.logo.url || user.Company.LogoUrl)">{{site.name || user.Company.Name || 'Storefront'}}</span>
                        </div>
                        <h2 class="mt-checkout-card-title">{{(user.Type == 'TempCustomer' ? 'Create' : 'My') + ' ' + ('Account' | r) | xlat}}</h2>
                        <div class="view-form-icon">
                            <div>
                                <label class="required">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                <input name="firstname" class="form-control" type="text" required ng-model="user.FirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <label class="required">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                <input name="lastname" required class="form-control" type="text" ng-model="user.LastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <label>{{'Phone' | r | xlat}}</label>
                                <input name="phone" class="form-control" type="text" ng-model="user.Phone" ui-mask="(999) 999-9999" autocomplete="off" />
                                <i class="fa fa-phone"></i>
                            </div>
                            <div>
                                <label class="required">{{'Email' | r | xlat}}</label>
                                <input name="email" class="form-control" type="email" ng-model="user.Email" required placeholder="{{'Email' | r | xlat}}" autocomplete="off" ng-blur="emailVisited = true" />
                                <i class="fa fa-envelope-o"></i>
                                <inlineerror ng-show="emailVisited && user_form.email.$invalid" title="{{'Please enter a valid' + ' ' +  ('Email' | rl) + ' ' + ('Address' | rl) | xlat}}"></inlineerror>
                            </div>
                            <div>
                                <label class="required">{{'Username' | r | xlat}}</label>
                                <input name="username" class="form-control" type="text" ng-model="user.TempUsername" required placeholder="{{'Username' | r | xlat}}" autocomplete="off" ng-readonly="isSsoUser()" />
                                <i class="fa fa-user"></i>
                            </div>
                            <!--TODO username input shouldn't default to temporary usernames, if the user is temp, make the placeholder show instead !-->
                            <div ng-if="!isSsoUser()">
                                <label ng-class="{required: user.Type == 'TempCustomer'}">{{'Password' | r | xlat}}</label>
                                <input name="password" class="form-control" ng-required="user.Type == 'TempCustomer'" type="password" ng-model="user.Password" placeholder="{{'Password' | r | xlat}}" autocomplete="off" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <div ng-if="!isSsoUser()">
                                <label ng-class="{required: user.Type == 'TempCustomer' || user.Password}">{{('Confirm' | r) + ' ' + ('Password' | r) | xlat}}</label>
                                <input name="confirm_password" ng-match="user.Password" ng-required="user.Type == 'TempCustomer' || user.Password" class="form-control" type="password" ng-model="user.ConfirmPassword" placeholder="{{('Confirm' | r) + ' ' + ('Password' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-lock"></i>
                                <inlineerror ng-show="user_form.confirm_password.$error.match" title="{{('Password' | r) + 's do not match!' | xlat}}"></inlineerror>
                            </div>
                            <div class="mt-account-security-warning" ng-show="securityWarning">
                                <ul>
                                    <li>{{'Your password does not meet the requirements set for length or complexity. It must be changed to meet the minimum requirements before continuing.' | xlat}}</li>
                                    <li>{{'There are three distinct password security levels. The rules are defined as:' | xlat}}</li>
                                    <ul>
                                        <li>{{'Low: No restrictions on passwords.' | xlat}}</li>
                                        <li>{{'Medium: A minimum of 6 characters required.' | xlat}}</li>
                                        <li>{{'High:' | xlat}}</li>
                                        <ul>
                                            <li>{{'Minimum of 8 alphanumeric characters.' | xlat}}</li>
                                            <li>{{'Two or more of the following kinds of characters' | xlat}}</li>
                                            <ol>
                                                <li>{{'Alphabetic (e.g., a-z, A-Z)' | xlat}}</li>
                                                <li>{{'Numeric (i.e. 0-9)' | xlat}}</li>
                                                <li>{{'Punctuation and other characters (e.g.,' | xlat}} !@#$%^&*()_+|~-=\`{}[]:";'<>?,./)</li>
                                            </ol>
                                            <li>{{'** After 6 failed logon attempts, the user will be locked out for 30 minutes.' | xlat}}</li>
                                        </ul>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="user.CustomFields" class="view-form-icon">
                            <div ng-repeat="field in user.CustomFields">
                                <customfilefield customfield="field" ng-if="field.ControlType == 'File' && field.DisplayToUser"></customfilefield>
                                <customtextfield customfield="field" ng-if="field.ControlType == 'Text' && field.DisplayToUser"></customtextfield>
                                <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection' && field.DisplayToUser"></customselectionfield>
                            </div>
                        </div>
                        <div class="mt-account-card-footer">
                            <p class="alert alert-success mt-account-success" ng-show="actionMessage" ng-bind-html="actionMessage | r | xlat"></p>
                            <input class="mt-btn-accent" type="submit" ng-disabled="user_form.$invalid || buttonClicked" id="451_btn_user" value="{{(user.Type == 'TempCustomer' ? 'Create Account' : 'Save') | xlat}}" />
                        </div>

                        <a class="mt-login-link" href="login" ng-if="user.Type == 'TempCustomer'">{{'Already have an account? Sign in' | r}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
