<div class="mt-cart-actions">
    <button type="button" class="mt-header-btn" ng-if="continue" redirect="catalog">
        <span class="hidden-xs">{{'Continue Shopping' | r | xlat}}</span>
        <span class="visible-xs">{{'Shop' | r | xlat}}</span>
    </button>
    <button type="button" class="mt-header-btn" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()">
        <span ng-if="currentOrder.Status != 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Order' | r) | xlat}}</span>
        <span ng-if="currentOrder.Status == 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Edit' | r) | xlat}}</span>
    </button>
    <button type="submit" class="mt-header-btn" ng-click="saveChanges()">
        <loadingindicator ng-show="displayLoadingIndicator"></loadingindicator>
        {{('Save' | r) + ' ' + ('Order' | r) | xlat}}
    </button>
    <button type="button" class="mt-btn-accent mt-cart-checkout-btn" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
        <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
        {{'Check Out' | r | xlat}}
    </button>
</div>
