<div class="mt-cart-actions">
    <button type="button" class="mt-header-btn" ng-if="continue" redirect="catalog" ng-disabled="submitClicked">
        <span class="hidden-xs">{{'Continue Shopping' | r | xlat}}</span>
        <span class="visible-xs">{{'Shop' | r | xlat}}</span>
    </button>
    <button type="button" class="mt-header-btn" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()" ng-disabled="submitClicked">
        <span ng-show="currentOrder.Status != 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Order' | r) | xlat}}</span>
        <span ng-show="currentOrder.Status == 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Edit' | r) | xlat}}</span>
    </button>
    <button type="button" class="mt-header-btn" ng-click="saveChanges()" ng-disabled="submitClicked">
        <loadingindicator ng-show="displayLoadingIndicator"></loadingindicator>
        {{('Save' | r) + ' ' + ('Order' | r) | xlat}}
    </button>
    <button type="button" class="mt-btn-accent"
            ng-click="submitOrder()" ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked">
        <i ng-show="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked" class="fa fa-warning"></i>
        {{('Submit' | r) + ' ' + ('Order' | r) | xlat}}
    </button>
</div>
