<div class="mt-login">
    <div class="mt-login-card">
        <h1 class="mt-login-title">{{'Sign in' | r}}</h1>
        <p id="451qa_msg_login" ng-show="loginMessage" ng-bind-html="loginMessage" class="mt-login-alert"></p>

        <form ng-submit="login()" name="login_form">
            <div ng-show="!showEmailHelp && !PasswordReset && (loginMessage != 'Your password has expired and will need to be changed.')">
                <div class="mt-field">
                    <label for="mt-login-username">{{'Username' | r}}</label>
                    <input id="mt-login-username" autofocus autocomplete="off" type="text" ng-model="credentials.Username" placeholder="{{'Username' | r}}" />
                </div>
                <div class="mt-field" ng-show="!PasswordSecurityException">
                    <label for="mt-login-password">{{'Password' | r}}</label>
                    <input id="mt-login-password" autocomplete="off" type="password" ng-model="credentials.Password" placeholder="{{'Password' | r}}" />
                </div>
            </div>

            <div ng-show="loginMessage == 'Your password has expired and will need to be changed.'">
                <div class="mt-field">
                    <label>{{'Username' | r}}</label>
                    <input autofocus autocomplete="off" type="text" ng-model="credentials.Username" placeholder="{{'Username' | r}}" />
                </div>
                <div class="mt-field">
                    <label>Current {{'Password' | r}}</label>
                    <input autocomplete="off" name="current_password" type="password" ng-model="credentials.CurrentPassword" placeholder="Current {{'Password' | r}}" />
                </div>
                <div class="mt-field">
                    <label>New {{'Password' | r}}</label>
                    <input autocomplete="off" ng-required="PasswordReset" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                </div>
                <div class="mt-field">
                    <label>Confirm {{'Password' | r}}</label>
                    <input autocomplete="off" ng-required="PasswordReset" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword" placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!"></inlineerror>
                </div>
            </div>

            <p class="mt-login-alert" ng-show="showEmailHelp && (!EmailNotFoundException || !PasswordSecurityException)">
                If you would like to be reminded of your {{'Username' | r}} or have the option to reset your {{'Password' | r}}, please provide your email address and your log on information will be emailed to you immediately.
            </p>
            <button type="button" class="mt-login-link" ng-show="!showEmailHelp && !PasswordReset && !EmailNotFoundException && !PasswordSecurityException" ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Submit'">
                {{'Need help logging on?' | r}}
            </button>
            <div class="mt-field" ng-show="showEmailHelp">
                <label>{{'Email' | r}}</label>
                <input type="email" ng-model="credentials.Email" placeholder="{{'Email' | r}}" />
            </div>
            <button type="button" class="mt-login-link" ng-show="showEmailHelp" ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Logon'">
                {{'Return to logon' | r}}
            </button>

            <div ng-show="PasswordSecurityException">
                <div class="mt-field">
                    <label>Current {{'Password' | r}}</label>
                    <input autocomplete="off" name="current_password" type="password" ng-model="credentials.CurrentPassword" placeholder="Current {{'Password' | r}}" />
                </div>
                <div class="mt-field">
                    <label>New {{'Password' | r}}</label>
                    <input autocomplete="off" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                </div>
                <div class="mt-field">
                    <label>Confirm {{'Password' | r}}</label>
                    <input autocomplete="off" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword" placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!"></inlineerror>
                </div>
            </div>

            <div ng-show="PasswordReset">
                <div class="mt-field">
                    <label>New {{'Password' | r}}</label>
                    <input autocomplete="off" ng-required="PasswordReset" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                </div>
                <div class="mt-field">
                    <label>Confirm {{'Password' | r}}</label>
                    <input autocomplete="off" ng-required="PasswordReset" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword" placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!"></inlineerror>
                </div>
            </div>

            <input ng-disabled="login_form.$invalid" class="mt-btn-accent mt-login-submit" id="451_btn_login" type="submit" value="{{buttonText}}" />
        </form>
    </div>
</div>
