<div class="mt-cart-summary-card">
    <h2 class="mt-cart-summary-title">{{('Order' | r) + ' ' + ('Summary' | r) | xlat}}</h2>

    <loadingindicator ng-show="couponLoadingIndicator" title="{{'Please wait while we verify and apply your promotion code' | r | xlat}}"></loadingindicator>
    <loadingindicator ng-show="couponRemoveIndicator" title="{{'Please wait while we remove your promotion code' | r | xlat}}"></loadingindicator>
    <orderconfirmationmessage></orderconfirmationmessage>

    <div class="mt-checkout-summary-line">
        <span>{{'Items' | r | xlat}}</span>
        <span>{{currentOrder.LineItems.length}}</span>
    </div>
    <div class="mt-checkout-summary-line" ng-if="!(user.Permissions.contains('HidePricing'))">
        <span>{{'Subtotal' | r | xlat}}</span>
        <span>{{currentOrder.Subtotal | culturecurrency}}</span>
    </div>
    <div class="mt-checkout-summary-line" ng-if="!(user.Permissions.contains('HidePricing'))">
        <span>{{('Shipping' | r) + ' ' + ('Costs' | r) | xlat}}</span>
        <span>{{currentOrder.ShippingCost | culturecurrency}}</span>
    </div>
    <div class="mt-checkout-summary-line" ng-if="!(user.Permissions.contains('HidePricing'))">
        <span>{{'Tax' | r | xlat}}</span>
        <span>{{currentOrder.TaxCost || 0 | culturecurrency}}</span>
    </div>

    <div class="mt-checkout-coupon" ng-show="user.Permissions.contains('ViewPromotions')">
        <div ng-show="!currentOrder.Coupon">
            <label ng-show="currentOrder.CouponCode">{{('Promotion' | r) + ' ' + ('Code' | r) | xlat}}</label>
            <div class="mt-field-row">
                <input type="text" ng-model="currentOrder.CouponCode" placeholder="{{('Promotion' | r) + ' ' + ('Code' | r) | xlat}}" autocomplete="off" />
                <button type="button" class="mt-btn-accent" ng-click="applyCoupon()"><i class="fa fa-check"></i></button>
            </div>
        </div>
        <div ng-show="currentOrder.Coupon" class="mt-checkout-coupon-applied">
            <span>{{currentOrder.Coupon.Label}}: {{currentOrder.Coupon.OrderDiscount * -1 | culturecurrency}}</span>
            <button type="button" class="mt-cart-remove-link" ng-click="removeCoupon()">{{'Remove' | r | xlat}} {{'Coupon' | r | xlat}}</button>
            <p class="mt-pdp-meta" ng-show="currentOrder.Coupon.ExpirationDate">{{'Expires' | r | xlat}}: {{currentOrder.Coupon.ExpirationDate | date:user.Culture.DateFormat.short}}</p>
        </div>
    </div>

    <div class="mt-cart-summary-row" ng-if="!(user.Permissions.contains('HidePricing'))">
        <span>{{'Total' | r | xlat}}</span>
        <span>{{currentOrder.Total | culturecurrency}}</span>
    </div>
    <p class="mt-pdp-meta" ng-if="user.Company.TaxMethod != 'NoTax' && !user.Permissions.contains('HidePricing')">{{('Shipping' | r) + ', handling and tax may be added to this subtotal.' | xlat}}</p>

    <button type="button" class="mt-btn-accent mt-cart-checkout-btn" ng-click="submitOrder()"
            ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked">
        <i ng-show="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked" class="fa fa-warning"></i>
        {{('Submit' | r) + ' ' + ('Order' | r) | xlat}}
    </button>

    <div class="mt-field mt-checkout-email-notify" ng-show="user.Permissions.contains('SendOrderNotificationToOthers') && !(cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid)">
        <label ng-show="currentOrder.ExternalOrderDetailRecipients">{{('Email' | r) + ' ' + ('Notification' | r) | xlat}}</label>
        <input type="email" ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid" ng-model="currentOrder.ExternalOrderDetailRecipients" placeholder="{{('Email' | r) + ' ' +  ('Address' | r) | xlat}}" autocomplete="off" />
        <p class="mt-pdp-meta">{{'Send a copy of the order details to above email address.' | r | xlat}}</p>
    </div>

    <button type="button" class="mt-header-btn mt-checkout-security-link" redirect="/security">
        <i class="fa fa-info-circle"></i> {{'Concerned About Security?' | r | xlat}}
    </button>
</div>
