<div class="mt-checkout-card">
    <h2 class="mt-checkout-card-title">{{'Billing' | r | xlat}}</h2>

    <billingmessage></billingmessage>

    <div ng-show="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
        <addressinput address='billaddress' user='user'></addressinput>
    </div>

    <div ng-hide="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
        <form name="cart_billing" novalidate="">
            <paymentselector></paymentselector>

            <div class="mt-field" ng-show="billaddresses.length > 0">
                <label class="required">{{('Billing' | r) + ' ' + ('Address' | r) | xlat}}</label>
                <select class="form-control" ng-show="billaddresses" name="billingAddress"
                        ng-options="address.ID as address.AddressName for address in billaddresses | filter:{IsBilling:true}" ng-model="currentOrder.BillAddressID" ng-required="currentOrder.BillingEnabled"
                        ng-change="saveOrderBilling()">
                    <option value=""></option>
                </select>
            </div>

            <div class="mt-checkout-address-display" ng-show="BillAddress">
                <p class="mt-checkout-address-label">{{('Billing' | r) + ' ' + ('Location' | r) | xlat}}</p>
                <p ng-show="BillAddress.AddressName">{{BillAddress.AddressName}}</p>
                <p ng-show="BillAddress.CompanyName">{{BillAddress.CompanyName}}</p>
                <p ng-show="(BillAddress.FirstName || BillAddress.LastName) && (!user.Permissions.contains('EditBillToName') && BillAddress.IsCustEditable)">
                    {{BillAddress.FirstName + ' ' + BillAddress.LastName}}
                </p>
                <div class="mt-checkout-shipto-name-row" ng-show="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable">
                    <input class="form-control" name="billingFirstName" ng-required="currentOrder.BillingEnabled && user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillFirstName" ng-blur="saveOrderBilling()"
                           placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                    <input class="form-control" name="billingLastName" ng-required="currentOrder.BillingEnabled && user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillLastName" ng-blur="saveOrderBilling()"
                           placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" />
                </div>
                <p ng-show="BillAddress.Street1">{{BillAddress.Street1}}</p>
                <p ng-show="BillAddress.Street2">{{BillAddress.Street2}}</p>
                <p ng-show="BillAddress.City || BillAddress.State || BillAddress.Zip">{{BillAddress.City}}<span ng-if="BillAddress.City && BillAddress.State">, </span> {{BillAddress.State}} {{BillAddress.Zip}}</p>
                <p ng-show="BillAddress.Phone">{{BillAddress.Phone}}</p>
            </div>
        </form>
    </div>
</div>
