<div>
    <div class="mt-checkout-payment-toggle">
        <button class="mt-header-btn" type="button"
                ng-show="user.Permissions.contains('PayByPO')"
                ng-class="{active: currentOrder.PaymentMethod == 'PurchaseOrder'}"
                ng-click="currentOrder.PaymentMethod = 'PurchaseOrder'">
            <i ng-show="currentOrder.PaymentMethod == 'PurchaseOrder'" class="fa fa-check"></i>
            {{'Purchase Order' | r | xlat}}
        </button>
        <button class="mt-header-btn" type="button"
                ng-show="user.Permissions.contains('SubmitForApproval') && currentOrder.Approvals"
                ng-disabled="isSplitBilling"
                ng-class="{active: currentOrder.PaymentMethod == 'Undetermined'}"
                ng-click="currentOrder.PaymentMethod = 'Undetermined'">
            <i ng-show="currentOrder.PaymentMethod == 'Undetermined'" class="fa fa-check"></i>
            {{'Approval Order' | r | xlat}}
        </button>
        <button class="mt-header-btn" type="button"
                ng-if="user.Permissions.contains('PayByBudgetAccount') && (SpendingAccounts|filter:{ForPurchase:true}).length > 0"
                ng-class="{active: currentOrder.PaymentMethod == 'BudgetAccount' || currentOrder.BudgetAccountID}"
                ng-click="setBudgetAccount((SpendingAccounts|filter:{AccountType.PurchaseCredit:true}).length)">
            <i ng-show="currentOrder.PaymentMethod == 'BudgetAccount' || currentOrder.BudgetAccountID" class="fa fa-check"></i>
            {{'Spending Account' | r | xlat}}
        </button>
        <button class="mt-header-btn" type="button"
                ng-if="user.AvailableCreditCards.length > 0 && user.Permissions.contains('PayByCreditCard')"
                ng-class="{active: currentOrder.PaymentMethod == 'CreditCard'}"
                ng-click="currentOrder.PaymentMethod = 'CreditCard'">
            <i ng-show="currentOrder.PaymentMethod == 'CreditCard'" class="fa fa-check"></i>
            {{'Credit Card' | r | xlat}}
        </button>
        <button class="mt-header-btn mt-checkout-shipto-new" type="button"
                ng-hide="(billaddressform || (!addressform && (addresses | filter:{IsBilling:true}).length == 0) || !user.Permissions.contains('CreateBillToAddress'))"
                ng-click="billaddressform = true">
            {{('New' | r) + ' ' +  ('Address' | r) | xlat}}
        </button>
    </div>

    <div class="mt-checkout-payment-detail" ng-if="user.Permissions.contains('PayByBudgetAccount')" ng-show="currentOrder.PaymentMethod == 'BudgetAccount'">
        <div class="mt-checkout-budget-balance" ng-show="(SpendingAccounts|filter:{ForPurchase:true}).length == 1">
            {{(selectedBudgetAccount.Label) + ' - ' + ('Balance' | xlat) + ': ' + (selectedBudgetAccount.Balance | culturecurrency)}}
        </div>
        <div class="mt-field" ng-show="(SpendingAccounts|filter:{ForPurchase:true}).length > 1">
            <label ng-show="currentOrder.BudgetAccountID">{{'Spending Account' | r}}</label>
            <select class="form-control" placeholder="{{'Spending Account' | r | xlat}}"
                    ng-options="account.ID as (account.Label + ' - ' + ('Balance' | xlat) + ': ' + (account.Balance | culturecurrency)) for account in SpendingAccounts | filter:{ForPurchase:true}"
                    ng-model="currentOrder.BudgetAccountID"
                    ng-required="currentOrder.PaymentMethod == 'BudgetAccount'">
            </select>
        </div>
    </div>

    <div ng-if="user.Permissions.contains('PayByCreditCard')" ng-show="currentOrder.PaymentMethod == 'CreditCard'">
        <div class="mt-checkout-payment-detail mt-checkout-saved-card-row" ng-if="paymentSelection.SavedCards">
            <div class="mt-field">
                <label>{{('Saved' | r) + ' ' +  ('Card' | r) | xlat}}</label>
                <select class="form-control" ng-model="currentOrder.CreditCardID" ng-options="card.ID as card.Name for card in paymentSelection.SavedCards">
                    <option value=""></option>
                </select>
            </div>
            <button type="button" ng-show="showDelete(currentOrder.CreditCardID)" title="Delete" class="mt-cart-remove-link" ng-click="deleteSavedCard(currentOrder.CreditCardID)">
                {{'Remove' | r | xlat}}
            </button>
        </div>
        <creditcard ng-if="user.Permissions.contains('PayByCreditCard')" ng-show="currentOrder.PaymentMethod == 'CreditCard' && !currentOrder.CreditCardID"></creditcard>
    </div>

    <div class="mt-checkout-payment-warning" ng-show="cart_billing.$error.paymentMethod && currentOrder.PaymentMethod == 'BudgetAccount' && currentOrder.BudgetAccountID">
        {{'The account, ' + (currentBudgetAccount.Label) + ', is not sufficient for the order total.' | xlat}}
    </div>

    <div class="mt-checkout-split-billing" ng-show="isSplitBilling">
        <p ng-show="currentOrder.PaymentMethod == 'BudgetAccount'">
            <span>{{'The account, ' + (currentBudgetAccount.Label) + ', is not sufficient for the order total.' | xlat}}</span>
            <strong>{{'Please select an additional payment type to cover the remaining' | r | xlat}}</strong>
            <span ng-show="!user.Permissions.contains('HidePricing')">
                <strong>{{remainingOrderTotal | currency}}</strong>
            </span>
            <span ng-show="user.Permissions.contains('HidePricing')">
                {{'balance' | xlat}}
            </span>
            {{'or remove this spending account from your payment options.' | r | xlat}}
        </p>
        <p ng-show="currentOrder.PaymentMethod != 'BudgetAccount'">
            <span>{{('The account, ' | xlat) + (currentBudgetAccount.Label) + (', is not sufficient for the order total.' | xlat)}}</span>
            <span>{{'This additional payment will cover the remaining' | r | xlat}}</span>
            <span ng-show="!user.Permissions.contains('HidePricing')">
                <strong>{{remainingOrderTotal | currency}}</strong>
            </span>
            <span ng-show="user.Permissions.contains('HidePricing')">
                {{'balance or remove this spending account from your payment options.' | r | xlat}}
            </span>
        </p>
        <button type="button" class="mt-header-btn" ng-click="currentOrder.BudgetAccountID = null; isSplitBilling = null; currentOrder.PaymentMethod = (currentOrder.PaymentMethod == 'BudgetAccount') ? null : currentOrder.PaymentMethod;">{{'Remove' | xlat}} {{currentBudgetAccount.Label}} {{' as payment' | r | xlat}}</button>
    </div>
</div>
